fastapi
uvicorn
yfinance
requests
cachetools
pydantic
pandas
python-dateutil
pytz
urllib3
certifi
idna
charset-normalizer
beautifulsoup4
soupsieve
multitasking
frozendict
peewee
gunicorn
anyio
starlette
h11
click
colorama
typing-extensions
annotated-types
pydantic-core
sniffio
tqdm
numpy
lxml
cryptography
pyOpenSSL
certifi
